.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vmin;
  font-size: 2vmin;
}

.NavBar {
  a {
    border-radius: 0.8vmin;
    padding: 0.5vmin 1.5vmin;
    text-decoration: none;
    color: #406689;
    font-weight: bold;
  }

  a:hover {
    background-color: #ccbb82;
    color: whitesmoke;
  }

  a.active {
    background-color: rgb(80, 124, 244);
    color: whitesmoke;
  }

  span {
    color: #406689;
    font-style: italic;
  }
}
