:root {
  font-family: roboto;
  line-height: 1.5;
  font-weight: 400;

  color: #3a638f;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
}

button {
  align-self: flex-start;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  background-color: #3a638f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3b82f6;
  border-color: #1a1a1a;
}

button:disabled {
  background-color: grey;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid #245982;
  border-radius: 1vmin;
}

input,
select,
textarea {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid #245982;
  border-radius: 0.5vmin;
  color: #d9a880;
  font-weight: bold;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: rgb(166, 29, 29);
}
